.section__container {
  max-width: $desktop_width;
  margin: 0 auto;
  padding: 0 30px;
}

.section__content {
  background-color: $content-background;
  padding: $gap 0;
}

.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: $gap;
}

// removes sidebar on woocommerce pages
.woocommerce-page {
  .sidebar {
    display: none;
  }

  .main {
    grid-template-columns: 1fr;
  }
}
