.woocommerce-page {
  // product button
  .products .product a.add_to_cart_button,
  .button.single_add_to_cart_button.button.alt {
    border-radius: 7px;
    background-color: $main-color-black;
    color: $main-color-white;
    font-size: 12px;
    transition: all 0.3s ease;
    &:hover {
      background-color: $main-color-blue !important;
      color: $main-color-white !important;
    }
  }

  div.product p.price,
  div.product span.price,
  div.product p.price {
    color: $main-color-blue-light !important;
  }
}

// show product images
.woocommerce span.onsale {
  background-color: $main-color-blue;
}

.woocommerce div.product div.images.woocommerce-product-gallery {
  opacity: 1 !important;
}
