// breakpoints

// colors
$main-color-blue: #208de5;
$main-color-grey: #4d4d4d;
$main-color-light-grey: #a6a6a6;
$main-color-black: #020202;

// margins

$content-margin: 20px;

// breakpoints

$mobile_width: 600px;
$tablet_width: 768px;
$desktop_width: 1168px;
$wide_width: 1379px;
