// colors
$main-color-blue: #208de5;
$main-color-grey: #4d4d4d;
$main-color-light-grey: #a6a6a6;
$main-color-black: #020202;
$main-color-white: #ffffff;
$content-background: #f2f2f2;

// margins

$gap: 35px;

// breakpoints

$mobile_width: 600px;
$tablet_width: 768px;
$desktop_width: 1168px;
$wide_width: 1379px;

// shadows

$box-shadow-grey: 0px 1px 10px -3px rgba(0, 0, 0, 0.1);

@mixin singular-title {
  clear: none;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  word-wrap: break-word;
}
